<a href="https://colab.research.google.com/github/Sudarshanksgowda/Data-Handling-and-Vizualization/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s1=pd.Series([-3,-1,1,3,5,'gaurav',7.3])
print(s1)

0        -3
1        -1
2         1
3         3
4         5
5    gaurav
6       7.3
dtype: object

In [ ]:
print(s1[2])

1

In [ ]:
a=[1,7,2]
myvar=pd.Series (a,index=['x','y','z'])
print(myvar)
print(myvar ["y"])

x    1
y    7
z    2
dtype: int64
7

In [ ]:
calories={" day1":420,"day 2":380,"day3":390}
myvar=pd.Series(calories)

In [ ]:
s1=pd.Series([-3,-1,1,3,5,'gaurav',7.3])
s1[:2]

0    -3
1    -1
dtype: object

In [ ]:
print(s1[[2,1,0]])

2     1
1    -1
0    -3
dtype: object

In [ ]:
type(s1)

pandas.core.series.Series

In [ ]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [ ]:
data={
    "calories":[420,380,390],
    "duration":[50,40,45]
}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
import pandas as pd
data={'Name':['tom','jack','steve','ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank 1','rank 2','rank 3','rank 4'])

In [ ]:
print(df)

         Name  Age
rank 1    tom   28
rank 2   jack   34
rank 3  steve   29
rank 4  ricky   42